
 html {
        background: #000000;
        
      }






h1 {
        color: white;
        text-align: center;
        font-style: "time new roman";
         font-size: 40px;
         }

      button{
        color: white;
         width: 100px;
        height: 100px;
      }

header {
  width: 10px;
  height: 10px;
  background: white;
}

  
  

img{
  width: 200px;
  height: 200px;
}




.cc{
  background-color:#2d3436;
   border: 2px solid black;
  margin: 20px;
  padding: 20px;
  width: 25%;
  text-align: center;
  color: white;
        font-style: "time new roman";
         font-size: 20px;
}
 a{
    color: white;
        font-style: "time new roman";
         font-size: 20px;
  }
      
    