
 html {
        background: #000000;
        
      }






h1 {
        color: white;
        text-align: center;
        font-style: "time new roman";
         font-size: 40px;
         }

      button{
        color: white;
         width: 100px;
        height: 100px;
      }

header {
  width: 10px;
  height: 10px;
  background: white;
}

a {
  color: black;
  width: 100px;
  height: 100px;
  background: white;
}
img{
  width: 200px;
  height: 200px;
}


h3{
  color: white;
        font-style: "time new roman";
         font-size: 20px;
         
}

.cc{
  background-color:;
   border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

      
    