

 h1 {
        color: white;
        text-align: center;
        font-style: "Lucida Grande";
   
      }

      html {
        background: #000000;
        
      }
      button{
        color: white;
      }

header {
  width: 980px;
  height; 100px;
  background: white;
}
      
    